Connected Services/wcfMultibuki/wcfMultibuki1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikPrijava">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulaz" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsUlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsUlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikPrijavaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KorisnikPrijavaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikUnos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulaz" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsUlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsUlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikUnosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KorisnikUnosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiTipPosPar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiTipPosParResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiTipPosParResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiTipServisa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiTipServisaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiTipServisaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiFirmaKorisnik">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiFirmaKorisnikResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiFirmaKorisnikResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiFunkcijuZaKorisnika">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulaz" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsUlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsUlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiFunkcijuZaKorisnikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiFunkcijuZaKorisnikaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikPravoNaFunkciju">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulaz" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsUlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsUlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikPravoNaFunkcijuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KorisnikPravoNaFunkcijuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikPromenaPodataka">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulaz" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsUlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsUlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KorisnikPromenaPodatakaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KorisnikPromenaPodatakaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSliku">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDKorisnik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSlikuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiSlikuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiSliku">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDKorisnik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiSlikuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObrisiSlikuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromenaSlike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDKorisnik" type="xs:int" />
        <xs:element minOccurs="0" name="Slika" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromenaSlikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PromenaSlikeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreeViewItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDKorisnik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreeViewItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTreeViewItemsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVestDetaljno">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVestDetaljnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiVestDetaljnoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSelectZaIDVest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVest" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSelectZaIDVestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiSelectZaIDVestResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiKorisniLinkDetaljno">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiKorisniLinkDetaljnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiKorisniLinkDetaljnoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiUlogu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiUloguResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiUloguResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiKorisnika">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KorisnickoIme" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiKorisnikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiKorisnikaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromenaPravaKorisnika">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulaz" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsUlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsUlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromenaPravaKorisnikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PromenaPravaKorisnikaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartLozinke">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulaz" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsUlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsUlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartLozinkeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestartLozinkeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirmaKorisnikPrikazi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulaz" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsUlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsUlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirmaKorisnikPrikaziResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirmaKorisnikPrikaziResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiPoslovniPartner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipPosPar" type="xs:int" />
        <xs:element minOccurs="0" name="idPosPar" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="Search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiPoslovniPartnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiPoslovniPartnerResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiMesto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiMestoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiMestoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PoslovniPartnerPromenaPodataka">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulaz" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsUlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsUlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PoslovniPartnerPromenaPodatakaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PoslovniPartnerPromenaPodatakaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSprat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSpratResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiSpratResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiArtikal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTip" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="Search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiArtikalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VratiArtikalResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dsIzlaz" Namespace="http://schemas.datacontract.org/2004/07/Data01" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dsIzlaz.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>